<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.board.repository.BoardRepository">

	<resultMap type="boardDto" id="article">
		<result column="article_no" property="article_no"/>
		<result column="user_id" property="user_id"/>
		<!-- <result column="user_name" property="userName"/> -->
		<result column="subject" property="subject"/>
		<result column="content" property="content"/>
		<result column="hit" property="hit"/>
		<result column="register_time" property="register_time"/>
	</resultMap>
	
	<resultMap type="filedto" id="files">
		<result column="file_id" property="file_id"/>
		<result column="article_no" property="article_no"/>
		<!-- <result column="user_name" property="userName"/> -->
		<result column="path" property="path"/>
		<result column="originalFileName" property="originalFileName"/>
		<result column="savedFileName" property="savedFileName"/>
	</resultMap>
	
	<resultMap type="detaildto" id="details">
		<result column="detail_id" property="detail_id"/>
		<result column="article_no" property="article_no"/>
		<!-- <result column="user_name" property="userName"/> -->
		<result column="place_name" property="place_name"/>
		<result column="latitude" property="latitude"/>
		<result column="longitude" property="longitude"/>
		<result column="category" property="category"/>
	</resultMap>
	
	
	<resultMap type="boardDto" id="viewArticle" extends="article">
		<collection property="fileInfos" column="article_no" javaType="list" ofType="fileInfoDto" select="fileInfoList"/>
	</resultMap>

	<insert id="writeArticle" parameterType="boardDto">
		insert into board (user_id, subject, content, hit, register_time)
		values (#{user_id}, #{subject}, #{content}, 0, now())
		<selectKey resultType="int" keyProperty="article_no" keyColumn="article_no" order="AFTER">
    	SELECT LAST_INSERT_ID()
    	</selectKey>
	</insert>
	
	<sql id="search">
		<if test="word != null and word != ''">
			and subject like concat('%', #{word}, '%')
		</if>
	</sql>

	<select id="totalList" resultType="boardDto">
		select b.article_no, b.user_id, b.subject, b.content, b.hit, b.register_time
		from board b
	</select>
	
	<select id="listArticle" parameterType="map" resultMap="article">
		select b.article_no, b.user_id, b.subject, b.content, b.hit, b.register_time
		from board b
		<where>
			<if test="word != null and word != ''">
				<if test="key == 'subject'">
					and subject like concat('%', #{word}, '%')
				</if>
				<if test="key != 'subject'">
					and ${key} = #{word}
				</if>
			</if>
		</where>
		order by article_no desc
		limit #{start}, #{listsize}
	</select>
	
	<select id="listMyArticle" parameterType="map" resultMap="article">
		select b.article_no, b.user_id, b.subject, b.content, b.hit, b.register_time
		from board b
		<where>
			<if test="word != null and word != ''">
				and subject like concat('%', #{word}, '%')
			</if>
			and b.user_id = #{user_id}
		</where>
		
		order by article_no desc
		limit #{start}, #{listsize}
	</select>
	
	
	
	
	<select id="getTotalArticleCount" parameterType="map" resultType="int">
		select count(b.article_no)
		from board b
		<where>
			<include refid="search"></include>
		</where>
	</select>
	
	<select id="getArticle" parameterType="int" resultType="boardDto">
		select b.article_no, b.user_id, b.subject, b.content, b.hit, b.register_time, m.userName
		from board b, member m
		where b.user_id = m.userId
		and b.article_no = #{article_no}
	</select>
	
	<!-- <select id="fileInfoList" resultMap="file">
		select save_folder, original_file, save_file
		from file_info
		where article_no = #{articleNo}
	</select> -->
	
	<update id="updateHit" parameterType="int">
		update board
		set hit = hit + 1
		where article_no = #{article_no}
	</update>
	
	<update id="modifyArticle" parameterType="boardDto">
		update board
		set subject = #{subject}, content = #{content}, register_time = now()
		where article_no = #{article_no}
	</update>
	
	<!-- <delete id="deleteFile" parameterType="int">
		delete from file_info
		where article_no = #{articleNo}
	</delete> -->
	
	<delete id="deleteArticle" parameterType="int">
		delete from board
		where article_no = #{article_no}
	</delete>

<insert id="fileUpload" parameterType="filedto">
  	insert into file(article_no,originalFileName, path)
  	values(#{article_no},#{originalFileName},#{path})
  </insert>
  
  	<select id="getImages" parameterType="int" resultMap="files">
		select b.file_id, b.path, b.originalFileName, b.savedFileName
		from file b join board m on m.article_no = b.article_no
		where b.article_no = #{m.article_no}
	</select>
	
	<insert id="insertDetail" parameterType="detaildto">
  	insert into detail(article_no,place_name, latitude,longitude,category)
  	values(#{article_no},#{place_name},#{latitude},#{longitude},#{category})
  	</insert>
  	
  	
  	
  	<select id="getDetail" parameterType="int" resultMap="details">
		select b.file_id, b.path, b.originalFileName, b.savedFileName
		from detail b join board m on m.article_no = b.article_no
		where b.article_no = #{m.article_no}
	</select>
  

</mapper>